* {
    margin: 0;
    padding: 0;
   
}

.logo {
    font-family: "Gelasio", system-ui;
    font-size: 2rem;
    position: relative;
}

.arrow {
    position: absolute;
    top: -20px;
    z-index:-1;
    left: -34px;
}

.nav-1 {
    z-index: 999;
}

.nav-2 {
    font-family: "Poppins", system-ui;
}

.nav-2:hover {
    color: blue;
    border-bottom: 2px solid blue;
}

.box {
    display: flex;
    align-items: end;
}

.bs {
    box-shadow:none, none, rgba(99, 99, 99, 0.2) 0px 2px 8px 0px, none;
    overflow: hidden;
    margin-bottom: 150px;
}

.img {
    height: 500px;
    max-width: 800px;
    object-fit: cover;
    object-position: 70% 80%;
}

.h1 {
    line-height: 1em;
} 

.h4 {
    letter-spacing: 4px;
    color:#2D74FF;
}

.play {
    color:#2D74FF;
    font-size: 30px;
    border: #2D74FF 0.3px solid;
    padding: 2px 7px 2px 10px;
    border-radius: 50%;
}
.play:hover {
    color:hwb(220 18% 30%);
    border: hwb(220 18% 30%) 0.3px solid;
}

.by {
    border: none;
}

.item-1 {
    box-shadow: rgba(17, 17, 26, 0.1) 0px 8px 24px, rgba(17, 17, 26, 0.1) 0px 16px 56px, rgba(17, 17, 26, 0.1) 0px 24px 80px;
    position: absolute;
    width: 80px;
    height: 80px;
    border-radius: 50%;
    background-color:white;
    display: flex;
    align-items: center;
    justify-content: center;
    top: 280px;
    left: 50px;
}
.item-2 {
    box-shadow: rgba(17, 17, 26, 0.1) 0px 8px 24px, rgba(17, 17, 26, 0.1) 0px 16px 56px, rgba(17, 17, 26, 0.1) 0px 24px 80px;
    position: absolute;
    width: 80px;
    height: 80px;
    border-radius: 50%;
    background-color:white;
    display: flex;
    align-items: center;
    justify-content: center;
    top: 20px;
    left: 130px;
}
.item-3 {
    box-shadow: rgba(17, 17, 26, 0.1) 0px 8px 24px, rgba(17, 17, 26, 0.1) 0px 16px 56px, rgba(17, 17, 26, 0.1) 0px 24px 80px;
    position: absolute;
    width: 80px;
    height: 80px;
    border-radius: 50%;
    background-color:white;
    display: flex;
    align-items: center;
    justify-content: center;
    top: 140px;
    left: 480px;
}

.paper-ap {
    color:#2D74FF;
    font-size: 30px;
  
}

.com {
    color:#2D74FF;
    letter-spacing: 3px;
    font-family: "Poppins";
}

.circle {
    width: 484px;
    height: 484px;
    background-image: conic-gradient( #f8f9fa 0deg, hsl(200, 23%, 97%) 90deg,#f8f9fa 90deg,#f8f9fa 180deg,  hsl(198, 28%, 91%) 180deg, hsl(198, 28%, 91%) 270deg,#f8f9fa 270deg);
    border-radius: 50%;
    position: absolute;
    z-index: -1;
    top: -70px;
    left: -70px;
}

.treangle {
    background: radial-gradient(circle at center,  hsl(197, 11%, 76%) 20%, transparent 20%),
    radial-gradient(circle at center, hsl(197, 11%, 76%) 40%, transparent 40%),
    radial-gradient(circle at center,  hsl(198, 28%, 91%) 60%, transparent 60%),
    radial-gradient(circle at center,  hsl(198, 28%, 91%) 80%, transparent 80%);
    top: -40px;
    left: 394px;
    width: 244px;
    height: 244px;
    border-radius: 50%;
    position: absolute;
    z-index: -1;
}

.auto-play {
    position: absolute;
    background-color: rgba(187, 197, 201, 0.6);
    top: 44%;
    left: 44%;
    width: 70px;
    height: 70px;
    font-size: 30px;
    color: #ffff;
    border-radius: 50%;
    border: none;
    display: flex;
    align-items:center;
    justify-content: center;
}

.con-2 {
    margin-bottom: 180px;
}

.galesio {
    font-family: "Gelasio", system-ui;
}

.line {
    line-height: 1.3em;
}

@media (max-width: 992px) {
    .item {
        display: none;
    }
}